@{
    ViewBag.Title = "Funny";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}
<style>
    .wrapper-content {
        text-align: center;
        padding:10px;
        border: 1px dashed #808080;
        height:370px;
    }

    .main-wrapper {
        padding: 20px;
    }

    .row-wrapper {
        padding: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .content-list {
        margin: 10px 0;
    }
</style>
<div class="row main-wrapper">
    <div class="col-xs-12 col-sm-6 col-md-4 row-wrapper">
        <div class="img-responsive wrapper-content">
            <a href="/home/eyetest">
                <img src="~/content/images/origin/eye-testing-icon.png" alt="" />
            </a>
            <div class="content-list">
                Mỗi người có khả năng phân biệt màu sắc khác nhau.
                Hãy xem thử khả năng của bạn
            </div>
            <a href="/home/eyetest" class="btn btn-success">Chơi ngay</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 row-wrapper">
        <div class="img-responsive wrapper-content">
            <a href="/home/eyetest">
                <img src="~/content/images/origin/alien.png" alt="" />
            </a>
            <div class="content-list">
                Xem thử người ngoài hành tinh nói gì về bạn
            </div>
            <a href="/home/aliensaid" class="btn btn-success">Chơi ngay</a>
        </div>
    </div>

</div>
