@{
    ViewBag.Title = "Color";
}

<div id="testboard">

</div>

@section styles
{
    <style>
        #testboard
        {
            display:block;
        }
        
    </style>
}
@section scripts
{
    <script src="~/Scripts/colortestnghia.js"></script>
    <script type="text/javascript">
        ColorTestReset("testboard");
    </script>
}
