
@{
    ViewBag.Title = "Funny";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
   
}
<style>
    .wrapper-content
    {
        text-align:center;
    }
    .main-wrapper
    {
        border: solid 10px #ff6a00;
        border-radius:5px;
        padding:20px;
    }
    .row-wrapper {
        padding: 20px;
        border: 1px dashed #808080;
    }
</style>
<div class="row main-wrapper">
    <div class="col-xs-12 col-sm-6 col-md-4 row-wrapper">
        <div class="img-responsive wrapper-content">
            <img src="~/content/images/eye-testing-icon.png" alt="" />
            <div class="content-list">Đây là bài kiểm tra khả năng nhận biêt màu sắc của mắt bạn. Mỗi người có khả năng phân biệt màu sắc khác nhau. 
            Hãy xem bạn có thể phân biệt được bao nhiêu màu nhé!</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 row-wrapper">
        <div class="img-responsive wrapper-content">
            <img src="~/content/images/eye-testing-icon.png" alt="" />
            <div class="content-list">
                Đây là bài kiểm tra khả năng nhận biêt màu sắc của mắt bạn. Mỗi người có khả năng phân biệt màu sắc khác nhau.
                Hãy xem bạn có thể phân biệt được bao nhiêu màu nhé!
            </div>
        </div>
    </div><div class="col-xs-12 col-sm-6 col-md-4 row-wrapper">
    <div class="img-responsive wrapper-content">
        <img src="~/content/images/eye-testing-icon.png" alt="" />
        <div class="content-list">
            Đây là bài kiểm tra khả năng nhận biêt màu sắc của mắt bạn. Mỗi người có khả năng phân biệt màu sắc khác nhau.
            Hãy xem bạn có thể phân biệt được bao nhiêu màu nhé!
        </div>
    </div>
</div><div class="col-xs-12 col-sm-6 col-md-4 row-wrapper">
    <div class="img-responsive wrapper-content">
        <img src="~/content/images/eye-testing-icon.png" alt="" />
        <div class="content-list">
            Đây là bài kiểm tra khả năng nhận biêt màu sắc của mắt bạn. Mỗi người có khả năng phân biệt màu sắc khác nhau.
            Hãy xem bạn có thể phân biệt được bao nhiêu màu nhé!
        </div>
    </div>
</div><div class="col-xs-12 col-sm-6 col-md-4 row-wrapper">
    <div class="img-responsive wrapper-content">
        <img src="~/content/images/eye-testing-icon.png" alt="" />
        <div class="content-list">
            Đây là bài kiểm tra khả năng nhận biêt màu sắc của mắt bạn. Mỗi người có khả năng phân biệt màu sắc khác nhau.
            Hãy xem bạn có thể phân biệt được bao nhiêu màu nhé!
        </div>
    </div>
</div>
</div>
