
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .wrapper-main
    {
        width:100%;
        padding:30px;
        border-radius:5px;
        box-shadow:rgb(128, 128, 128) 2px 2px 2px;
    }
    .row-content
    {
        margin-top:10px;
        border-bottom:dashed 2px #ff6a00;
        padding:10px 0;
    }
    .col-xs-12, .col-sm-8
    {
        padding-left:0 !important;
    }

</style>
<div class="wrapper-main">
    <div class="row" style="margin-bottom:30px">
        <a class="btn btn-primary"  href="#">Thêm mới</a>
    </div>
    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            Bạn sẽ làm gì khi 100 tuổi?
        </div>
        <div style="text-align:right" class="col-xs-12 col-sm-4">
            <a class="btn btn-success" href="#">Sửa</a>
            <a class="btn btn-danger" href="#">Xóa</a>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            Bạn sẽ làm gì khi 100 tuổi?
        </div>
        <div style="text-align:right" class="col-xs-12 col-sm-4">
            <a class="btn btn-success" href="#">Sửa</a>
            <a class="btn btn-danger" href="#">Xóa</a>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            Bạn sẽ làm gì khi 100 tuổi?
        </div>
        <div style="text-align:right" class="col-xs-12 col-sm-4">
            <a class="btn btn-success" href="#">Sửa</a>
            <a class="btn btn-danger" href="#">Xóa</a>
        </div>
    </div>
</div>

@section title
{
    Testing Admin
}